{% extends "home/base.html" %} 
{% load static %}

{% block content %}
<main>
  <div class="card-body">
    <div class="container">
      <h1 class="display-4">About ShopGenovia</h1>
      <p class="lead">
        Welcome to ShopGenovia!!! We are passionate about providing our customers with the latest
        technology on the market. Our team is dedicated to ensuring that we offer a wide range of
        top-quality products, from smartphones and laptops to other smart devices. ShopGenovia is
        dedicated to delivering outstanding customer service, high-quality products, at great value.
      </p>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <img class="card-img-top" src="{% static 'home_static/img/Logo.png' %}" alt="Company Logo" />
          <div class="card-body">
            <h2>Our Story</h2>
            <p>
              Our story began with a simple idea: to provide affordable electronic product for our
              customers. We started out in a small apartment with just five members of the team,
              working tirelessly to develop and refine our website and logistics process. As we
              grew, so did our passion for innovation and customer satisfaction. Today, we are proud
              to be one of the leading providers of high-quality electronic products in Sheffield.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <img class="card-img-top" src="{% static 'home_static/img/theTeam.jpg' %}" alt="Team Members" />
          <div class="card-body">
            <h2>Our Team</h2>
            <p>
              The ShopGenovia team consists of experienced individuals with diverse backgrounds.
              Each member of our team brings a unique set of skills and expertise, enabling us to
              deliver exceptional products to our customers. We value collaboration and teamwork,
              and we believe that everyone has a role to play in achieving our goals. From left to
              right: Perwar Abdullah, Oghenefoga Chokor, Reshma Issac, Iziegbe Omoijiade and Shahna
              Ahammed.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
