{% extends "home/base.html" %}{% block content %} <br /><br />
<div class="container py-5">
  <div class="row">
    <div class="col-md-6">
      <h2>Contact Us</h2>
      <form>
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" placeholder="Enter your name" />
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" placeholder="Enter your email" />
        </div>
        <div class="form-group">
          <label for="message">Message</label>
          <textarea
            class="form-control"
            id="message"
            rows="5"
            placeholder="Enter your message"
          ></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div class="col-md-6">
      <h2>Contact Info</h2>
      <p><i class="fas fa-map-marker-alt"></i> 12345 Cloud St, Hallam UK</p>
      <p><i class="fas fa-phone"></i> +44(123) 456-7890</p>
      <p><i class="fas fa-envelope"></i> cloudgroupa@yahoo.com</p>
      <h2>Follow Us</h2>
      <div class="d-flex justify-content-start">
        <a href="#" class="btn btn-primary mr-2"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="btn btn-primary mr-2"><i class="fab fa-twitter"></i></a>
        <a href="#" class="btn btn-primary"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
