asgiref==3.6.0
attrs==21.2.0
Automat==20.2.0
Babel==2.8.0
bcrypt==3.2.0
blinker==1.4
certifi==2020.6.20
chardet==4.0.0
click==8.0.3
colorama==0.4.4
crispy-bootstrap4==2022.1
Django==4.1.6
django-crispy-forms==1.14.0
djangorestframework==3.14.0
Pillow==9.4.0
pipenv==2023.2.4
PyMySQL==1.0.2
whitenoise==6.4.0
