{% extends 'home/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
  <div class="wrapper" style="width: 50%; margin-left: 350px; margin-top: 50px; margin-bottom: 50px;">
          <div class="card-header text-white" style="background-color: #0e9fcf;">My Ecommerce Website Login</div>
          <div class="card-body">
            <form method="post">
              {% csrf_token %}
              {{ form|crispy }}
              <button type="submit" class="btn">Sign In</button>
            </form>
          </div>
          <div class="card-footer">
            <small class="text-muted">Don't have an account? <a href="{% url 'users:register' %}">Register</a>
              <br>
              <a href="{% url 'users:password_reset' %}">Forgot password?</a>
            </small>
          </div>
        </div>
      </div>

{% endblock %}
