{% extends "home/base.html" %}

{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header text-white" style="background-color: #0e9fcf;">
            <h2>You have now been logged out</h2>
          </div>
          <div class="card-body">
            <p class="card-text">Thank you for visiting our website. Come back soon!</p>
            <a href="{% url 'users:login' %}" class="btn">Login</a>
          </div>
        </div>
      </div>
    </div>
  </div>
 <div style="height: 200px;"></div>
{% endblock content %}
