{% extends "home/base.html" %}
{% load i18n%}
{% load crispy_forms_tags %}


{% block content %}
  <div class="wrapper" style="width: 80%; margin-left: 150px; margin-top: 50px; margin-bottom: 50px;">
    <h2 style="text-align: center;">{% translate "Password reset confirmation" %}</h2>

    {% if validlink %}
      <p class="password-reset-description" style="text-align: center;">{% translate "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

      <form method="post" class="password-reset-form" style="text-align: center; margin-left: 250px;">
        {% csrf_token %}
        {{ form|crispy }}

        <div class="form-group">
          <button type="submit" class="btn">{% translate 'Change my password' %}</button>
        </div>
      </form>

    {% else %}

      <p class="password-reset-description">{% translate "The password reset link was invalid, possibly because it has already been used. Please request a new password reset." %}</p>

    {% endif %}
  </div>
{% endblock %}
