{% extends "home/base.html" %}

{% load crispy_forms_tags %}

{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header  text-white" style="background-color: #0e9fcf;">
            <h2>Reset Password</h2>
          </div>
          <div class="card-body">
            <form method="post">
              {% csrf_token %}
              {{ form|crispy }}
              <button type="submit" class="btn btn-block">Reset Password</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="height: 200px;"></div>
{% endblock %}
