{% extends "home/base.html" %}
{% load i18n%}
{% load crispy_forms_tags %}


{% block content %}
  <div class="wrapper password-reset-confirm-wrapper">
    <h2 class="password-reset-confirm-heading">{% translate "Password reset confirmation" %}</h2>

    {% if validlink %}
      <p class="password-reset-confirm-description">{% translate "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

      <form method="post" class="password-reset-confirm-form">
        {% csrf_token %}
        {{ form|crispy }}

        <div class="form-group">
          <button type="submit" class="btn">{% translate 'Change my password' %}</button>
        </div>
      </form>

    {% else %}

      <p class="password-reset-confirm-description">{% translate "The password reset link was invalid, possibly because it has already been used. Please request a new password reset." %}</p>

    {% endif %}
  </div>
{% endblock %}
