{% extends "home/base.html" %}
{% load i18n %}

{% block content %}

<div class="wrapper" style="width: 60% ;margin-left:250px; margin-top: 50px;">
  <div class="password-reset-complete-header">
    <h1>{% translate "Password Reset Complete" %}</h1>
  </div>
  <div class="password-reset-complete-body">
    <p>{% translate "Your password has been successfully reset." %}</p>
    <p>{% translate "You may now log in with your new password." %}</p>
    <a href="{{ login_url }}" class="btn">{% translate 'Log In' %}</a>
  </div>
</div>
<div style="height: 200px;"></div>
{% endblock %}