{% extends "home/base.html" %}
{% load i18n static%}



{% block content %}

<div class="wrapper" style="margin: 80px;">
  <div class="password-reset-done-header">
    <h1>{% translate "Password Reset Request Received" %}</h1>
  </div>
  <div class="password-reset-done-body">
    <p>{% translate 'We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.' %}</p>
    <p>{% translate 'If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.' %}</p>
    <a href="{{ login_url }}" class="btn">{% translate 'Return to Login' %}</a>
  </div>
</div>
{% endblock %}