{% extends 'home/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

    <div class="col-md-8">
        <div class="card" style="margin-top: 50px; margin-left: 350px; margin-bottom: 50px;">
            <div class="card-body">
                <form method="POST" enctype="multipart/form-data">
                    <img src="{{ user.profile.image.url}}" class="rounded-circle" style="max-width: 200px; max-height: 200px;">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Profile Information</legend>
                        {{ u_form|crispy }}
                        {{ p_form|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-outline-info" type="submit">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
