{% extends 'home/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h4>Profile Picture</h4>
            </div>
            <div class="card-body">
                {% if p_form.image.value %}
                    <img src="{{ user.profile.image.url}}" class="img-thumbnail" style="max-width: 200px; max-height: 200px;">
                {% else %}
                    <img src="{{ request.user.profile.image.url }}" class="img-thumbnail" style="max-width: 200px; max-height: 200px;">
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Profile Information</legend>
                        {{ u_form|crispy }}
                        {{ p_form|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-outline-info" type="submit">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
