{% extends "home/base.html" %}
{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
</style>
</head>
<body>
<br>
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>
</div>

<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Catogories</span>

<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
</script>

<div class="container">
	<div style="width: 100%; padding: 10px; border: 10px;">
	<br>
	<div style="display:block;" >
		<table>
			<tr>
			<td>
				
				<p><img class="w3-round-small" style="width:100%; height:100%;" src="{{prod.photo.url}}"></p>
				
			<td>
			<td>
				<h3>{{ prod.name }}</h3>
                <p>Product Name: {{ prod.name }}</p>
				<p>Product Type: {{ prod.category }}</p>
                <p>Product Brand: {{ prod.brand }}</p>
				<p>Product Cost: {{ prod.cost }}</p>
				<p>Release date: {{ prod.release_date }}</p>
				<p>Product rating:{{ average }}/10</p>
				<p>Product description: {{ prod.description }}</p>
				{% if request.user.is_authenticated %}
					{% if request.user.is_superuser %}
						
						{% endif %}
				{% endif %}
			<td>
		</tr>
		</table>
	</div>

<br>

<div id="reviews" style="width: 100%; padding: 50px; background-color: #dfe3eb; border-radius: 5px; " >
	<h2>Rate the Product</h2>
{% if request.user.is_authenticated %}
<form method="post" action=".">
	{%csrf_token%}
	<div>
		<label>Rating</label>
		<select name="rating">
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
		</select>
	</div><br>
	<div>
		<label>Comment</label><br>
		<textarea name="comment"></textarea>
	</div><br>
	<div>
		<button>Submit</button>
	</div>
</form>
{%endif%}

</div>
<br>
<div style="width: 100%; padding-top: 10px; padding: 50px; background-color: #dfe3eb; border-radius: 5px;">
<h2>Reviews</h2><br>
{% for review in prod.reviews.all%}
	<div id="displayReview">
		<strong>User : </strong>{{ review.user.username}} <strong>date: </strong>{{ review.date_time}}<br>
		<strong>Rating : </strong>{{ review.rating}}/5<br>
		<strong>Comment : </strong>{{review.comment}}<br>
	</div><br>
	
{% endfor %}

<a href="/allreviews/{{ prod.id}} " class="btn btn-primary">All Reviews</a>
</div>
	<br>
</div>
</div>
{% endblock %}