{% extends "home/base.html" %} 
{% block content %} <br /><br />
<!-- Product Section -->
<section class="container py-5">
  <div class="row">
    <div class="col-md-6">
      <img
        src="{{prod.photo.url}}"
        alt="Product Image"
        class="img-fluid mb-4"
      />
    </div>
    <div class="col-md-6">
      <h1>{{ prod.name }}</h1>
      <p class="lead mb-4">Brand/Manufacturer: {{ prod.brand }}</p>
      <p class="mb-4"><strong>Average Cost:</strong> £{{ prod.cost }}</p>
      <p class="mb-4"><strong>Category:</strong> {{ prod.category }}</p>
      <p class="mb-4"><strong>Date Released:</strong> {{ prod.release_date }}</p>
      <p class="mb-4"><strong>Average Rating:</strong> {{ average }}/5</p>
      <p>
        Description: {{ prod.description }}
      </p>
      <a href="#" class="btn btn-primary">Add to Cart</a>
    </div>
  </div>
</section>
<!-- User Reviews Section -->
<section class="container py-5">
  <h2>User Reviews</h2>
  <div class="d-flex justify-content-end">
    <button type="button" class="btn btn-success mx-1">Add Review</button>
        {% if request.user.is_authenticated %}
          <form method="post" action=".">
            {%csrf_token%}
            <div>
              <label>Rating</label>
              <select name="rating">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
            </div><br>
            <div>
              <label>Comment</label><br>
              <textarea name="comment"></textarea>
            </div><br>
            <div>
              <button>Submit</button>
            </div>
          </form>
        {%endif%}
  </div>

  {% for review in prod.reviews.all%}
  <div class="row">
    <div class="col-md-6 mb-4">
      <div class="card">
        <div class="card-body">
          <h6 class="card-title">{{review.comment}}</h6>
          <h6 class="card-subtitle mb-2 text-muted">by {{ review.user.username}}</h6>
          <strong>Rating : </strong>{{ review.rating}}/5<br>
          <div class="d-flex justify-content-end">
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}

</section>
{% endblock %}
