{% extends "home/base.html" %} {% block content %}
<!-- Product Description and Rating Section-->

<section class="container my-5">
  <div class="row">
    <div class="col-md-8">
      <h3>{{product.name}} review by {{ review.user.username}}</h3>
     
    </div>
    
  </div>
  <!-- User Reviews Section <h2>User Reviews</h2>s -->
  <br />

  
  <!-- Review Box -->
  <div class="row">
    <div class="col-md-2">
     
      <img class="rounded-circle account-img media" src="{{review.user.profile.image.url}}">
    </div>
    <div class="col-md-10">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <h4 class="card-title mb-0">Review</h4>
              <div class="d-flex align-items-center">
                <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
                <span class="ml-2">{{review.rating}}/5</span>
              </div>
            </div>
            <br>
            <h6 class="card-subtitle mb-2 text-muted">Posted on {{ review.date_time}} by {{ review.user.username}} </h6>
            <p class="card-text">
              {{review.comment}}
            </p>
            {% if review.user.id == request.user.id %}
            <div class="d-flex justify-content-end">
              <a href="/edit/{{ review.id }}" class="btn btn-primary mr-2"><span class="glyphicon glyphicon-pencil" >Edit</span></a>  
              <a href="/delete/{{ review.id }}" class="btn btn-danger">Delete</a>
            </div>
            {% endif %}
          </div>
        </div>
      
    </div>
    <!-- Review -->
    
  </div>
</section>
{% endblock %}
